/* A diretiva de importação principal do Tailwind v4+. */
@import "tailwindcss";

/* Definimos nossas variáveis de tema para o modo claro. */
:root {
  --background: #f2f2f2; /* Branco Névoa */
  --foreground: #273240; /* Azul Ardósia */
  --link: #b4bfa8; /* Cinza Eucalipto */
  --link-hover: #53733d; /* Verde Musgo */
}

/* Opcional: Cores para o modo escuro. */
@media (prefers-color-scheme: dark) {
  :root {
    --background: #273240; /* Azul Ardósia */
    --foreground: #f2f2f2; /* Branco Névoa */
    --link: #b4bfa8;
    --link-hover: #a3b9a1; /* Um tom um pouco mais claro do eucalipto para o hover no escuro */
  }
}

/* Aplicamos as variáveis e as fontes que vêm do layout.tsx */
body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(
    --font-inter
  ); /* Usa a fonte Inter como padrão para parágrafos */
}

/* Regra separada para os títulos usarem a fonte Lora */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-lora);
}

/* Regra separada para os links */
a {
  color: var(--link);
  transition: color 0.2s;
}

a:hover {
  color: var(--link-hover);
}
